params {
    genomes {
        hg38 {
            ref = "${launchDir}/data/Homo_sapiens_assembly38.fasta"
            reads = "${launchDir}/data/SRR794275_{1,2}.fastq"
            site = "${launchDir}/data/Homo_sapiens_assembly38.known_indels.vcf"
            outdir = "${launchDir}/results"
            dict = "${launchDir}/data/Homo_sapiens_assembly38.dict"
            fasta_index = "${launchDir}/data/Homo_sapiens_assembly38.fasta.fai"
            site_idx = "${launchDir}/data/Homo_sapiens_assembly38.known_indels.vcf.idx"
            dbsnp = "${launchDir}/data/Homo_sapiens_assembly38.dbsnp138.vcf"
            thousandG = "${launchDir}/data/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
            dbsnp_idx = "${launchDir}/data/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
            thousandG_idx = "${launchDir}/data/1000G_phase1.snps.high_confidence.hg38.vcf.gz.tbi"
            hapmap = "${launchDir}/data/hapmap_3.3.hg38.vcf.gz"
            hapmap_idx = "${launchDir}/data/hapmap_3.3.hg38.vcf.gz.tbi"
            omni = "${launchDir}/data/1000G_omni2.5.hg38.vcf.gz"
            omni_idx = "${launchDir}/data/1000G_omni2.5.hg38.vcf.gz.tbi"
        }
    }
}