trace {
    enabled = true
    file = "${launchDir}/reports/trace.txt"
    overwrite = true
}

report {
    enabled = true
    file = "${launchDir}/reports_dv/report.html"
    overwrite = true    
}

process{
    withName:fastqc{
        cpus = 2
        container = 'Singularity/fastqc.sif'
    }
    withName:BWA_INDEX{
        container = 'Singularity/bwa.sif'
    }
    withName:BWA_ALIGNER{
         cpus = 6
         container = 'Singularity/bwa.sif'
    }
    withName:SAM_BAM{
        cpus = 4
        container = "Singularity/sam.sif"
    }
    withName:MARK_DUP{
        container = "Singularity/gatk4.sif"
    }
    withName:BASE_RECAP{
        cpus = 6
        container = "Singularity/gatk4.sif"
    }
    withName:applyBQSR{
        container = "Singularity/gatk4.sif"
    }
    withName:SUMMARY_METRICS{
        container = "Singularity/gatk4.sif"
    }
    withName:HAPLOTYPECALLER{
        container = "Singularity/gatk4.sif"
    }
    withName:DEEPVARIANT{
        cpus = 6
        container = "Singularity/deepvariant.sif"
    }
    withName:annotateDeepVariantVCF{
        container = "Singularity/gatk4.sif"
    }
    withName:SNP_DV{
        container = "Singularity/gatk4.sif"
    }
    withName:SNP{
        container = "Singularity/gatk4.sif"
    }
    withName:INDEL{
        container = "Singularity/gatk4.sif"
    }
    withName:INDEL_DV{
        container = "Singularity/gatk4.sif"
    }
    withName:VAR_RECAL{
        container = "Singularity/gatk4.sif"
    }
    withName:apply_VQSR{
        container = "Singularity/gatk4.sif"
    }
    withName:VARIANT_FILTER{
        container = "Singularity/gatk4.sif"
    }
    withName:MERGE_VCFS_HTVC{
        container = "Singularity/gatk4.sif"
    }
    withName:MERGE_VCFS_DV{
        container = "Singularity/gatk4.sif"
    }
    withName:FUNCOTATOR_ANNOTATION_HTVC{
        container = "Singularity/gatk4.sif"
    }
    withName:FUNCOTATOR_ANNOTATION_DV{
        container = "Singularity/gatk4.sif"
    }
    withName:ANNOVAR_HTVC{
        cpus = 6
        container = "Singularity/annovar.sif"
    }
    withName:ANNOVAR_DV{
        cpus = 6
        container = "Singularity/annovar.sif"
    }

}

singularity.enabled = true

includeConfig 'genome.config'
